@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.main {
  box-sizing: border-box;
  width: 100%;
  padding: 2rem;
}

.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem
}

.footer {
  box-sizing: border-box;
  width: 100%;
  padding: 2rem
}

.footer p {
  font-size: 1.6rem;
  margin: 0 0 0.5rem 0;
  text-align: center;
}

h1 {
  font-weight: 500;
  font-size: 2.5rem;
  margin: 0 0 0.5rem 0;
  border-bottom: 0.2rem solid #f8f8f8;
}

/* CURRENT WEATHER */
.current-weather__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "location location"
  "temp temp"
  "weather weather"
  "wind humid"
  "sunrise sunset";
}

.current-weather__location {
  grid-area: location;
  font-size: 3rem;
  margin: 0;
  justify-self: center;
}

.current-weather__temp {
  grid-area: temp;
  font-size: 5rem;
  margin: 0;
  justify-self: center;
}

.current-weather__weather {
  grid-area: weather;
  font-size: 2.5rem;
  margin: 1rem 0;
  justify-self: center;
}

.current-weather__wind {
  grid-area: wind;
  font-size: 1.6rem;
  margin: 0 1rem;
  justify-self: end;
}

.current-weather__humidity {
  grid-area: humid;
  font-size: 1.6rem;
  margin: 0 1rem;
  justify-self: start;
}

.current-weather__sunrise {
  grid-area: sunrise;
  font-size: 1.8rem;
  margin: 0.5rem 1rem;
  justify-self: end;
  display: flex;
  align-items: flex-end;
}

.current-weather__sunset {
  grid-area: sunset;
  font-size: 1.8rem;
  margin: 0.5rem 1rem;
  justify-self: start;
  display: flex;
  align-items: flex-end;
}

.current-weather__sunrise p, .current-weather__sunset p {
  margin: 0;
} 


/* HOURLY FORECAST */
.hourly-forecast__section {
  margin: 2rem 0;
  padding: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  border-radius: 1rem;
  background-color: #f8f8f8;
}

.hourly-forecast__container {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hourly-forecast__container p {
  margin: 0.5rem 0;
  font-size: 1.6rem;
}


/* DAILY FORECAST */
.daily-forecast__section {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #f8f8f8;
}

.daily-forecast__section > p {
  font-size: 1.6rem;
  margin: 0.5rem 0;
}

.daily-forecast__container {
  padding: 1.5rem 0;
  border-top: 0.1rem solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.daily-forecast__container p {
  font-size: 1.8rem;
  margin: 1rem 0;
}

.unit-select__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.unit-select__label {
  font-size: 1.4rem;
}

.unit-select__input {
  padding: 0.5rem 1rem;
  max-width: 15rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .main {
    width: 90%;
  }

  .current-weather__location {
    font-size: 3.5rem;
  }

  .hourly-forecast__section {
    margin: 5rem 0;
  }

  .daily-forecast__container {
    padding: 2rem 1rem;
  }

  .daily-forecast__container p {
    font-size: 2rem;
  }
  
}

@media (min-width: 992px) {
  .main {
    width: 70%;
  }

  .daily-forecast__container {
    padding: 5rem 2rem;
  }

  .daily-forecast__container p {
    font-size: 2.6rem;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 2rem 10rem;
  }

  .main {
    width: 60%;
  }
}